@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        /* max-width: 1758px; */
        margin: auto;
    }
}

@media (max-width: 1440px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1140px;
    }

    .upload-profile-pic {
        width: 88%;
        margin-left: 0;
        margin-right: 0;
    }

    .weekly-section .parent-table {
        padding-right: 3rem;
    }

    .weekly-section.data-center .parent-table {
        padding-right: 12rem;
    }

    .side_btn {
        margin-top: 1rem !important;
    }

    .weekly-section .table > :not(caption) > * > * {
        padding: 5px 15px !important;
        font-size: 13px !important;
    }

    section.weekly-section .container.bg-colored {
        padding: 0 !important;
    }

    .weekly-section .table > :not(caption) > * > * span {
        font-size: 12px;
    }
    .master-data-section {
        padding: 0;
    }
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}
