@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        /* max-width: 1758px; */
        margin: auto;
    }

}

@media (max-width: 1440px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1140px;
    }

    .upload-profile-pic {
        width: 88%;
        margin-left: 0;
        margin-right: 0;
    }

    .weekly-section .parent-table {
        padding-right: 3rem;
    }

    .weekly-section.data-center .parent-table {
        padding-right: 12rem;
    }

    .side_btn {
        margin-top: 1rem !important;
    }

    .weekly-section .table> :not(caption)>*>* {
        padding: 5px 15px !important;
        font-size: 13px !important;
    }

    section.weekly-section .container.bg-colored {
        padding: 0 !important;
    }

    .weekly-section .table> :not(caption)>*>* span {
        font-size: 12px;
    }

    .master-data-section {
        padding: 0;
    }

    span.select2.select2-container.select2-container--default {
        width: 45% !important;
    }

    #filter-3 {
        width: 6% !important;
    }

    .master-data-filter {
        padding-right: 0;
    }

    .weekly-section .table-striped tr th {
        width: 100px;
        padding: 5px 5px !important;
        white-space: nowrap;
    }

    .weekly-section .table-striped tr td {
        width: 100px;
        padding: 5px 5px !important;
        white-space: nowrap;
    }

    section.weekly-section span.select2.select2-container.select2-container--default {
        width: 100% !important;
    }

    .weekly-section .alert-info {
        font-size: 10px;
        padding: 4px 8px;
    }

    .custom-data {
        gap: 0 !important;
        padding: 0;
    }

    .parent-button .custom-data button {
        padding: 6px 4px;
        font-size: 10px;
    }

    .parent-button {
        width: 25% !important;
    }

    .parent-filter {
        width: 92%;
    }

    .weekly-section .parent-table {
        width: 19% !important;
        padding: 0 !important;
        overflow: auto !important;
    }
}

@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {}